@model Schedule.Models.UPlan

@{
    ViewBag.Title = "Delete";
}

<h3>Вы действительно хоите удалить?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дисциплина
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSubject)
        </dd>

        <dt>
            Лекции
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lecture)
        </dd>

        <dt>
           Практические работы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Practical)
        </dd>

        <dt>
            Лабораторные работы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Labor)
        </dd>

        <dt>
            Курсовая работа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coursework)
        </dd>

        <dt>
            Экзамен
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam)
        </dd>

        <dt>
            Зачет
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zachet)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Consultation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultation)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
