@model Schedule.Models.UPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lecture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lecture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Control)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Control)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Practical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Practical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coursework)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coursework)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consultation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
