@model IEnumerable<Schedule.Models.UPlan>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th style="width: 10%;">Дисциплины</th>
        <th style="width: 8%">
            Лек
        </th>
       <th style="width: 8%">
            Пр
        </th>
        <th style="width: 8%">
            Лаб
        </th>
        <th style="width: 8%">
            КР
        </th>
        <th style="width: 8%">
            Экз
        </th>
        <th style="width: 8%">
            З
        </th>
       
        <th style="width: 8%">Всего</th>
        <th style="width: 10%"></th>
    </tr>
    
<h4>ЭФ17ЭБ62ДР1</h4>
@foreach (var item in Model) {
    <tr>
        <td style="text-align:inherit">
            @Html.DisplayFor(modelItem => item.NameSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lecture)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Practical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Labor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coursework)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zachet)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Consultation)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) 
            @*@Html.ActionLink("Подробнее", "Details", new { id = item.Id }) |*@
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>
