@model IEnumerable<Schedule.Models.UPlan>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Лекции
        </th>
        <th>
           Контрольные
        </th>
        <th>
            Практические
        </th>
        <th>
           Лабораторные
        </th>
        <th>
            Курсовая
        </th>
        <th>
            Экзамен
        </th>
        <th>
            Зачет
        </th>
        <th>
            Консультация
        </th>
        <th></th>
    </tr>
    <h4>Колличество часов</h4>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lecture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Control)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Practical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Labor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coursework)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zachet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consultation)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
            @*@Html.ActionLink("Подробнее", "Details", new { id = item.Id }) |*@
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
