@model Schedule.Models.Group

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Группа</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Специальность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty)
        </dd>

        <dt>
            Номер
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            Количество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountStudents)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
