@model Schedule.Models.ScheduleTable


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
      
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Время
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CallSheduleId)
            </dd>
    
            <dt>
                № пары
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ParaId)
            </dd>
    
            <dt>
                Аудитория
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RoomId)
            </dd>
    
            <dt>
                Дисциплина
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubjectId)
            </dd>
    
            <dt>
                Группа
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GroupId)
            </dd>
    
            <dt>
                Преподаватель
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TeacherId)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Назад", "Index")
    </p>
</body>
</html>
