@model Schedule.Models.ScheduleTable

@{
    ViewBag.Title = "Delete";
}


<h3>Вы действительно хотите удалить пару?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CallShedule.NamberPar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallShedule.NamberPar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Number)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Para.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Para.Id)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Room.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.FIO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
