@model IEnumerable<Schedule.Models.ScheduleTable>

@{
    ViewBag.Title = "Index";
}

<h2>Расписание</h2>

<p>
    @Html.ActionLink("Добавить ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            №
        </th>
        <th>
            День недели
        </th>
        <th>
            Группа
        </th>
         <th>
            Аудитория
        </th>
        <th>
            Предмет
        </th>
        <th>
           Преподаватель
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CallShedule.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group.Number)
        </td>
               <td>
            @Html.DisplayFor(modelItem => item.Room.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.FIO)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
           
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
